<ion-view title="Dashbaord" hide-back-button="true"> <ion-nav-buttons
	side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons> 
<ion-content has-header="true" padding="true">
	<div class="row">
     	<div class="col col-33 dash-col">
	     	<a href="#/profile">
	            <i class="icon ion-person dash-icon"></i><br>Profile
	        </a>
			 
		</div>
		<div class="col col-33 dash-col">
			 
		</div>
		<div class="col col-33 dash-col">
			<a href="#/fees">
			 	<i class="icon ion-cash dash-icon"></i><br>Fees Details
			</a>
		</div>
	</div>
	<div class="row">
     	<div class="col col-33 dash-col">
     		<a href="#/paymenthistory">
			 	<i class="icon ion-pricetags dash-icon"></i><br>Payment History
			</a>
		</div>
		<div class="col col-33 dash-col">
			 
		</div>
		<div class="col col-33 dash-col">
			<a href="#/timetable">
			 	<i class="icon ion-clipboard dash-icon"></i><br>Time Table
			</a>
		</div>
	</div>
	<div class="row">
     	<div class="col col-33 dash-col">
     		<a href="#/commemail">
			 	<i class="icon ion-email dash-icon"></i><br>Communication Email
			</a>
		</div>
		<div class="col col-33 dash-col">
			 
		</div>
		<div class="col col-33 dash-col">
			<a href="#/commsms">
			 	<i class="icon ion-chatbubble-working dash-icon"></i><br>Communication SMS
			</a>
		</div>
	</div>
	<div class="row">
     	<div class="col col-33 dash-col">
     		<a href="#/social">
			 	<i class="icon ion-social-facebook dash-icon"></i><br>Social Connection
			</a>
		</div>
		<div class="col col-33 dash-col">
			 
		</div>
		<div class="col col-33 dash-col">
			<a href="#/docs">
			 	<i class="icon ion-document-text dash-icon"></i><br>Supporting Documents
			</a>
		</div>
	</div>
</ion-content>