<ion-view title="Fees Details" hide-back-button="true"> 
<ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons> 
<ion-content has-header="true" padding="true">
	<div class="card" ng-show="errorBlockShow" >
	    <div class="item item-text-wrap">
		    <ul>
		    	<ol class="errMsg" ng-repeat="err in errorMsg">{{err.msg}}</li>
		    </ul>
	    </div>
	</div>
			<div>
				<div class="row">
					<div class="col list_section">Student Fees Panel - ( {{feesDetails.courseName}} - {{feesDetails.year}} )</div>
				</div>
			</div>
			<ul class="list">
				<li class="item">
			      	<div class="row">
			      		<div class="col">
							  <div class="tab_fee_label">At the time of admission:</div>
							  <div class="tab_value">Rs. {{feesDetails.atTimeOfAdmission}}</div>
						</div>
					</div>
			    </li>
			    <li class="item">
			      	<div class="row">
			      		<div class="col">
						  <div class="tab_fee_label">Semester fees:</div>
						  <div class="tab_value">Rs. {{feesDetails.totalCourseFee}}</div>
						</div>
					</div>
			    </li>
			    <li class="item" ng-if="feesDetails.lastYearBalance">
			      	<div class="row">
			      		<div class="col">
						  <div class="tab_fee_label">Last year balance:</div>
						  <div class="tab_value">Rs. {{feesDetails.lastYearBalance}}</div>
					    </div>
					</div>
			    </li>
			    <li class="item">
			      	<div class="row">
			      		<div class="col">
						  <div class="tab_fee_label">Total fee paid:</div>
						  <div class="tab_value">Rs. {{feesDetails.totalFeesPaid}}</div>
						</div>
					</div>
			    </li>
			    <li class="item">
			      	<div class="row">
			      		<div class="col">
						  <div class="tab_fee_label">NCC fees (if opted):</div>
						  <div class="tab_value">Rs. {{feesDetails.ncc}}</div>
						</div>
					</div>
			    </li>
			    <li class="item">
			      	<div class="row">
			      		<div class="col">
						  <div class="tab_fee_label">Fine (if any):</div>
						  <div class="tab_value">Rs. {{feesDetails.fine}}</div>
						</div>
					</div>
			    </li>
			    <li class="item">
			      	<div class="row">
			      		<div class="col">
						  <div class="tab_fee_label">Balance amount:</div>
						  <div class="tab_value">Rs. {{feesDetails.balanceFee}}</div>
						</div>
					</div>
			    </li>
			</ul>
</ion-content>